body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #28a745;
}

.navbar-brand {
  color: #fff;
  font-size: 1.5rem;
}

.nav-link {
  color: #fff;
  font-size: 1rem;
}

.container {
  margin-top: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.table-container {
  max-height: 400px;
  overflow-y: scroll;
}

.table {
  margin-bottom: 0;
}

.table th,
.table td {
  padding: 8px 12px;
}

.table thead th {
  background-color: #343a40;
  color: #fff;
}

.table-dark th {
  background-color: #343a40;
  color: #fff;
}

.text-white {
  color: #fff;
}

.chart-container {
  margin-top: 20px;
  height: 300px;
}

.btn {
  margin-top: 10px;
  font-size: 1rem;
  padding: 5px 10px;
}

.button {
  text-decoration: none;
  color: #fff;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info:hover {
  background-color: #138496;
  border-color: #117a8b;
}

.btn-info:active {
  background-color: #117a8b;
  border-color: #0f6674;
}

.btn-info:focus,
.btn-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1.2rem;
  }

  .nav-link {
    font-size: 0.9rem;
  }
}


